variable_name = value

<img src="test1.png">

In [2]:
a=1  
b=2
print(a+b)

3

In [9]:
name = "muhammad jawad khan"
print (name)
print(type(name))
print(id(name))

muhammad jawad khan
<class 'str'>
2011155355232

In [11]:
a = 20
print (a) 
print (type (a))
print (id (a))

20
<class 'int'>
140708595471752

In [13]:
a ={1,2,3,4,5}  #UNIQUE COLLECTION 
print (a) 
print (type (a))
print (id (a))

{1, 2, 3, 4, 5}
<class 'set'>
2011155257088

In [23]:
 a = 7 #dynamic data type python
print(a, type(a), id(a))

 a = '7' #string/overwrite
print(a, type(a), id(a))

 a = 7.5 #float
print(a, type(a), id(a))

7 <class 'int'> 140708595471336
7 <class 'str'> 140708595514832
7.5 <class 'float'> 2011154822320

In [27]:
jawad = 1
jawad = 2
jawad = 'xyz'
print (jawad)

xyz

In [30]:
a='1'
b='2'
print (a+b)

12

In [31]:
a=1
b=2
print (a+b)

3

In [32]:
jawad = 1
print(jawad, type(jawad), id(jawad))
jawad = 2
print(jawad, type(jawad), id(jawad))
jawad = 'xyz'
print(jawad, type(jawad), id(jawad))
print (jawad)

1 <class 'int'> 140708595471144
2 <class 'int'> 140708595471176
xyz <class 'str'> 2011161014448
xyz

In [33]:
x=6 #shallow copy it has same memory adress
y=6
z=6
print(id (x))
print(id (y))
print(id (z))

140708595471304
140708595471304
140708595471304

In [34]:
x=6 #deep it has different memory adress
y='6'

print(id (x))
print(id (y))

140708595471304
140708595514776

#operators
# https://www.w3schools.com/python/python_operators.asp
Python divides the operators in the following groups:

*Arithmetic operators
*Assignment operators
*Comparison operators
*Logical operators
*Identity operators
*Membership operators
*Bitwise operators

<img_src

# Arithmetic operators
import pandas as pd
df = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
pd[0]

In [43]:
print (2+7, "addition")
print (2*7, "multiplication")
print (7-2, "subtraction")
print (11%3,"modulus")
print (2**2, "power")
print (2**3, "power")
7/2

9 addition
14 multiplication
5 subtraction
2 modulus
4 power
8 power

3.5

In [42]:
7//2

3

In [44]:
a= 7
print (a)

7

In [45]:
a += 2

In [ ]:
#comparision valiable

In [46]:
a=7
b=7
a==b

True

In [47]:
a=7
b=97
a==b

False

In [48]:
a=7
b=9
a>b

False

In [49]:
a=7
b=9
a<b

True

In [50]:
a=10
b=9
a>=b # greater then equal

True

In [51]:
a=10
b=9
a!=b   #not equal to

True

In [ ]:
# logcal operator

In [53]:
#      1        2        3        4
print (True and True and True and True)
print (True and False and True and True)
print (True and False and True and False)

True
False
False

In [55]:
#      1        2        3        4
print (True or True or True or True)
print (True or False or True or True)
print (True or False or True or False)
print (False or False or True or False)

True
True
True
True